<table>
  <tr>
    <td> Name </td>
    <td> Color </td>
    <td> Sex </td>
    <td> Age (In dog years) </td>
    <td> Description </td>
  </tr>
  <tr>
    <td> <%= @dog.name%> </td>
    <td> <%= @dog.color %> </td>
    <td> <%= @dog.sex %> </td>
    <td> <%= @dog.age %> </td>
    <td> <%= @dog.description %> </td>
  </tr>
</table>
